{% extends 'public/base_cpanel.html' %}
{% block title %}Lista de Entregas{% endblock %}
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE ENTREGAS</h3>
      <hr />
    </div>

    <!-- Campo de búsqueda -->
    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search_entrega"
          class="form-control border-0 shadow-none"
          placeholder="Buscar entrega..."
          onkeyup="buscarEntregaAjax()" />
      </div>
    </div>

    <!-- Tabla de entregas -->
    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          id="tbl_entregas"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Costo Domicilio</th>
              <th>Dirección ID</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody id="tabla_entregas_body">
            {% for entrega in entregas %}
            <tr id="entrega_{{ entrega.id }}">
              <td>{{ loop.index }}</td>
              <td>{{ entrega.tipo }}</td>
              <td>{{ entrega.estado }}</td>
              <td>{{ entrega.costo_domicilio }}</td>
              <td>{{ entrega.direccion_id }}</td>
              <td width="10px">
                <a
                  href="{{ url_for('detalles_entrega', id=entrega.id) }}"
                  class="btn btn-info btn-sm"
                  title="Ver detalles">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarEntrega', id=entrega.id) }}"
                  class="btn btn-success btn-sm"
                  title="Actualizar">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarEntrega('{{ entrega.id }}');"
                  class="btn btn-danger btn-sm"
                  title="Eliminar">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Vincular el archivo JavaScript -->
<script src="{{ url_for('static', filename='assets/customJS/buscar_entrega.js') }}"></script>

{% endblock %}