{% extends 'public/base_cpanel.html' %}
{% block title %}Crud con Python 🐍 | Lista de Direcciones{% endblock %}
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE DIRECCIONES</h3>
      <hr />
    </div>

    <!-- Campo de búsqueda -->
    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search_direccion"
          class="form-control border-0 shadow-none"
          placeholder="Buscar dirección..."
          onkeyup="buscarDireccionAjax()" />
      </div>
    </div>

    <!-- Tabla de direcciones -->
    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          id="tbl_direcciones"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre Completo</th>
              <th>Barrio</th>
              <th>Domicilio</th>
              <th>Referencias</th>
              <th>Teléfono</th>
              <th>Estado</th>
              <th>Costo Domicilio</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody id="tabla_direcciones_body">
            {% for direccion in direcciones %}
            <tr id="direccion_{{ direccion.id }}">
              <td>{{ loop.index }}</td>
              <td>{{ direccion.nombre_completo }}</td>
              <td>{{ direccion.barrio }}</td>
              <td>{{ direccion.domicilio }}</td>
              <td>{{ direccion.referencias }}</td>
              <td>{{ direccion.telefono }}</td>
              <td>{{ direccion.estado }}</td>
              <td>$ {{ '{:,.2f}'.format(direccion.costo_domicilio) }}</td>
              <td width="10px">
                <a
                  href="{{ url_for('detalles_direccion', id=direccion.id) }}"
                  class="btn btn-info btn-sm"
                  title="Ver detalles">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarDireccion', id=direccion.id) }}"
                  class="btn btn-success btn-sm"
                  title="Actualizar">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarDireccion('{{ direccion.id }}');"
                  class="btn btn-danger btn-sm"
                  title="Eliminar">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Vincular el archivo JavaScript -->
<script src="{{ url_for('static', filename='assets/customJS/buscar_direccion.js') }}"></script>

{% endblock %}