{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Inventario{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVO INVENTARIO</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/registrar-inventario"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="cantidad_disponible" class="form-label">
                Cantidad Disponible
              </label>
              <input
                class="form-control"
                type="number"
                name="cantidad_disponible"
                required
                placeholder="Ingrese la cantidad disponible" />
            </div>
            <div class="col-md-6">
              <label for="fecha_actualizacion" class="form-label">
                Fecha de Actualización
              </label>
              <input
                class="form-control"
                type="date"
                name="fecha_actualizacion"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="fecha_registro" class="form-label">
                Fecha de Registro
              </label>
              <input
                class="form-control"
                type="datetime-local"
                name="fecha_registro"
                required />
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}