{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Perfil {% endblock %}
<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">MI PERFIL</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-8 col-lg-6">
      <div class="card custom-card">
        <div class="card-body">
          <form class="mb-3" method="POST" action="/actualizar-datos-perfil">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Tipo de Documento (solo lectura) -->
                <label for="tipo_documento" class="form-label">Tipo de Documento</label>
                <input
                    type="text"
                    name="tipo_documento"
                    value="{{ info_perfil_session['tipo_documento'] }}"
                    class="form-control"
                    readonly />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Documento (solo lectura) -->
                <label for="documento" class="form-label">Documento</label>
                <input
                    type="text"
                    name="documento"
                    value="{{ info_perfil_session['documento'] }}"
                    class="form-control"
                    readonly />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Nombre (editable) -->
                <label for="nombre" class="form-label">Nombre</label>
                <input
                    type="text"
                    name="nombre"
                    value="{{ info_perfil_session['nombre'] }}"
                    class="form-control"
                    required />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Apellido (editable) -->
                <label for="apellido" class="form-label">Apellido</label>
                <input
                    type="text"
                    name="apellido"
                    value="{{ info_perfil_session['apellido'] }}"
                    class="form-control"
                    required />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Teléfono (editable) -->
                <label for="telefono" class="form-label">Teléfono</label>
                <input
                    type="text"
                    name="telefono"
                    value="{{ info_perfil_session['telefono'] }}"
                    class="form-control"
                    required />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Correo (solo lectura) -->
                <label for="correo" class="form-label">Correo</label>
                <input
                    type="email"
                    name="correo"
                    value="{{ info_perfil_session['correo'] }}"
                    class="form-control"
                    readonly />
              </div>
            </div>

            <div class="row">
              <!-- Columna 2 -->
              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Rol (solo lectura) -->
                <label for="rol" class="form-label">Rol</label>
                <input
                    type="text"
                    name="rol"
                    value="{{ info_perfil_session['rol'] }}"
                    class="form-control"
                    readonly />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Estado (solo lectura) -->
                <label for="estado" class="form-label">Estado</label>
                <input
                    type="text"
                    name="estado"
                    value="{{ info_perfil_session['estado'] }}"
                    class="form-control"
                    readonly />
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Clave Actual (editable) -->
                <label class="form-label" for="pass_actual">Clave Actual</label>
                <div class="input-group input-group-merge">
                    <input
                        type="password"
                        class="form-control"
                        name="pass_actual"
                        id="pass_actual"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                        required />
                    <span class="input-group-text cursor-pointer">
                        <i class="bx bx-hide"></i>
                    </span>
                </div>
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Nueva Clave (editable) -->
                <label class="form-label" for="new_pass_user">Nueva Clave</label>
                <div class="input-group input-group-merge">
                    <input
                        type="password"
                        class="form-control"
                        name="new_pass_user"
                        id="new_pass_user"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password" />
                    <span class="input-group-text cursor-pointer">
                        <i class="bx bx-hide"></i>
                    </span>
                </div>
              </div>

              <div class="col-12 col-md-6 mb-4">
                <!-- Campo: Repetir Nueva Clave (editable) -->
                <label class="form-label" for="repetir_pass_user">
                    Repetir Nueva Clave
                </label>
                <div class="input-group input-group-merge">
                    <input
                        type="password"
                        class="form-control"
                        name="repetir_pass_user"
                        id="repetir_pass_user"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password" />
                    <span class="input-group-text cursor-pointer">
                        <i class="bx bx-hide"></i>
                    </span>
                </div>
              </div>
            </div>

            <!-- Botón de Enviar -->
            <div class="mb-3 text-center">
                <button type="submit" class="btn rounded-pill btn-primary">
                    Actualizar mis datos
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}