<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" {% if session.rol == 'cliente' %}style="display: none;"{% endif %}> <!-- Solo esta línea cambia -->
  <div class="app-brand demo">
    <a href="{{ url_for('inicio') }}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img
          src="{{ url_for('static', filename ='assets/img/logose.png') }}"
          alt="Logo" height="200px">
      </span>
    </a>
    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <!-- Sección del Perfil del Usuario -->
  <div class="user-profile-sidebar">
    {% if session.conectado %}
      <div class="user-info">
        <h5 class="user-name mb-1">{{ session.nombre }} {{ session.apellido }}</h5>
        <p class="user-documento text-muted mb-1">{{ session.documento }}</p>
      </div>
    {% else %}
      <p class="text-center p-3">No hay usuario logueado</p>
    {% endif %}
  </div>

  <ul class="menu-inner py-5">
    <!-- Sección de Registro de Usuarios (Solo visible para administradores) -->
    {% if session.rol in ['administrador', 'superadmin'] %}
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-usuario', '/lista-de-usuarios'] %} active open {% endif %}" data-menu="menu-usuarios">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-person-plus"></i>
        <div>Registro de Usuarios</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-usuario' %} active {% endif %}">
          <a href="{{ url_for('viewFormUsuario') }}" class="menu-link">
            <div>Registrar Usuario</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-usuarios' %} active {% endif %}">
          <a href="/lista-de-usuarios" class="menu-link">
            <div>Lista de Usuarios</div>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}
    
    <!-- Sección de Empleados (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-empleado', '/lista-de-empleados', '/descargar-informe-empleados'] %} active open {% endif %}" data-menu="menu-empleados">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-person-bounding-box"></i>
        <div>Empleados</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-empleado' %} active {% endif %}">
          <a href="{{ url_for('viewFormEmpleado') }}" class="menu-link">
            <div>Registrar Empleado</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-empleados' %} active {% endif %}">
          <a href="/lista-de-empleados" class="menu-link">
            <div>Lista de Empleados</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Sección de Productos (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-producto', '/lista-de-productos', '/descargar-informe-productos'] %} active open {% endif %}" data-menu="menu-productos">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-box"></i>
        <div>Productos</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-producto' %} active {% endif %}">
          <a href="{{ url_for('viewFormProducto') }}" class="menu-link">
            <div>Registrar Producto</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-productos' %} active {% endif %}">
          <a href="/lista-de-productos" class="menu-link">
            <div>Lista de Productos</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Sección de Pedidos (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-pedido', '/lista-de-pedidos', '/descargar-informe-pedidos'] %} active open {% endif %}" data-menu="menu-pedidos">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-cart"></i>
        <div>Pedidos</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-pedido' %} active {% endif %}">
          <a href="{{ url_for('viewFormPedido') }}" class="menu-link">
            <div>Registrar Pedido</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-pedidos' %} active {% endif %}">
          <a href="/lista-de-pedidos" class="menu-link">
            <div>Lista de Pedidos</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Sección de Proveedores (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-proveedor', '/lista-de-proveedores', '/descargar-informe-proveedores'] %} active open {% endif %}" data-menu="menu-proveedores">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-archive"></i>
        <div>Proveedores</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-proveedor' %} active {% endif %}">
          <a href="{{ url_for('viewFormProveedor') }}" class="menu-link">
            <div>Registrar Proveedor</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-proveedores' %} active {% endif %}">
          <a href="/lista-de-proveedores" class="menu-link">
            <div>Lista de Proveedores</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Sección de Facturas (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-factura', '/lista-de-facturas', '/descargar-informe-facturas'] %} active open {% endif %}" data-menu="menu-facturas">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-file-earmark-text"></i>
        <div>Facturas</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-factura' %} active {% endif %}">
          <a href="{{ url_for('viewFormFactura') }}" class="menu-link">
            <div>Registrar Factura</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-facturas' %} active {% endif %}">
          <a href="/lista-de-facturas" class="menu-link">
            <div>Lista de Facturas</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Sección de Abonos (Menú desplegable) -->
    <li class="menu-item menu-item-submenu {% if request.path in ['/registrar-abono', '/lista-de-abonos', '/descargar-informe-abonos'] %} active open {% endif %}" data-menu="menu-abonos">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bi bi-cash"></i>
        <div>Abonos</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if request.path == '/registrar-abono' %} active {% endif %}">
          <a href="{{ url_for('viewFormAbono') }}" class="menu-link">
            <div>Registrar Abono</div>
          </a>
        </li>
        <li class="menu-item {% if request.path == '/lista-de-abonos' %} active {% endif %}">
          <a href="/lista-de-abonos" class="menu-link">
            <div>Lista de Abonos</div>
          </a>
        </li>
      </ul>
    </li>    

    <li class="menu-item {% if request.path == '/mi-perfil' %} active {% endif %}">
      <a href="/mi-perfil" class="menu-link">
        <i class="menu-icon bi bi-person-fill-gear"></i>
        <div>Mi Perfil</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="{{ url_for('cerraSesion') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div>Cerra sesion</div>
      </a>
    </li>
  </ul>
</aside>