{% extends 'public/base_cpanel.html' %}
{% block title %}Crud con Python 🐍 | Lista de Productos{% endblock %}
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE PRODUCTOS</h3>
      <hr />
    </div>

    <!-- Campo de búsqueda -->
    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="searchp"
          id="search_producto"
          class="form-control border-0 shadow-none"
          placeholder="Buscar producto..."
          onkeyup="buscarProductoAjax()" />
      </div>
    </div>

    <!-- Tabla de productos -->
    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          id="tbl_productos"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>codigo</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody id="tabla_productos_body">
            {% for producto in productos %}
            <tr id="producto_{{ producto.id }}">
              <td>{{ loop.index }}</td>
              <td>{{ producto.codigo }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>$ {{ '{:,.2f}'.format(producto.precio) }}</td>
              <td>{{ producto.cantidad }}</td>
              <td width="10px">
                <a
                  href="{{ url_for('detalles_producto', id=producto.id) }}"
                  class="btn btn-info btn-sm"
                  title="Ver detalles">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarProducto', id=producto.id) }}"
                  class="btn btn-success btn-sm"
                  title="Actualizar">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarProducto('{{ producto.id }}');"
                  class="btn btn-danger btn-sm"
                  title="Eliminar">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="botones-export">
    <button id="btnExportarExcel" class="btn btn-success">
        <i class="fas fa-file-excel"></i> Exportar a Excel
    </button>
    <button id="btnExportarPDF" class="btn btn-danger">
        <i class="fas fa-file-pdf"></i> Exportar a PDF
    </button>
    <button id="btnImprimir" class="btn btn-info">
        <i class="fas fa-print"></i> Imprimir
    </button>
    
  </div>
</div>

<!-- TableExport para Excel -->
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@5.2.0/dist/js/tableexport.min.js"></script>
<!-- jsPDF y jspdf-autotable para PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.24/jspdf.plugin.autotable.min.js"></script>

<script src="/static/assets/js/reportProduct.js"></script>
<link rel="stylesheet" href="/static/assets/css/report.css">
<!-- Vincular el archivo JavaScript -->
<script src="{{ url_for('static', filename='assets/customJS/buscar_producto.js') }}"></script>

{% endblock %}