{% extends 'public/base_cpanel.html' %}
{% block title %}Crud con Python 🐍 | Lista de Productos{% endblock %}
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE PRODUCTOS</h3>
      <hr />
    </div>

    <!-- Campo de búsqueda -->
    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search_producto"
          class="form-control border-0 shadow-none"
          placeholder="Buscar producto..."
          onkeyup="buscarProductoAjax()" />
      </div>
    </div>

    <!-- Tabla de productos -->
    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          id="tbl_productos"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody id="tabla_productos_body">
            {% for producto in productos %}
            <tr id="producto_{{ producto.id }}">
              <td>{{ loop.index }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>$ {{ '{:,.2f}'.format(producto.precio) }}</td>
              <td>{{ producto.cantidad }}</td>
              <td width="10px">
                <a
                  href="{{ url_for('detalles_producto', id=producto.id) }}"
                  class="btn btn-info btn-sm"
                  title="Ver detalles">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarProducto', id=producto.id) }}"
                  class="btn btn-success btn-sm"
                  title="Actualizar">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarProducto('{{ producto.id }}');"
                  class="btn btn-danger btn-sm"
                  title="Eliminar">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // Función AJAX para buscar productos
  function buscarProductoAjax() {
    const query = document.getElementById("search_producto").value; // Obtiene el valor del campo de búsqueda

    // Validar si la búsqueda está vacía
    if (query.trim() === "") {
      // Si está vacía, recargar la tabla con todos los productos
      fetch('/lista-de-productos')
        .then(response => response.text())
        .then(data => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(data, 'text/html');
          const newTableBody = doc.getElementById('tabla_productos_body').innerHTML;
          document.getElementById('tabla_productos_body').innerHTML = newTableBody;
        })
        .catch(error => console.error('Error al recargar la tabla:', error));
      return;
    }

    // Configurar la solicitud AJAX
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/buscando-producto', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // Actualizar el cuerpo de la tabla con los resultados de la búsqueda
        document.getElementById('tabla_productos_body').innerHTML = xhr.responseText;
      }
    };
    xhr.send(JSON.stringify({ busqueda: query }));
  }
</script>

{% endblock %}