<!-- public/templates/includesIn/sections/about.html -->
<section class="coffee" data-aos="fade-up">
  <div class="coffee-content container" id="nosotros_group">
      <h2>Ricos Tamales Boyacenses</h2>
      <p class="txt-p">
          Disfruta de la auténtica tradición boyacense con nuestros tamales, preparados con ingredientes frescos y una receta casera que 
          conserva el verdadero sabor de nuestra tierra. Cada bocado es un homenaje a nuestras raíces y al amor por la buena cocina.
      </p>
      <div class="coffee-group">
          <div class="coffee-1">
              <img src="{{ url_for('static', filename='assets/img/preparoredon.png') }}" alt="">
              <h3>Tamal Tradicional</h3>
              <p>Una delicia envuelta con esmero, llevando el auténtico sabor de Boyacá a tu mesa.</p>
          </div>
          <div class="coffee-1">
              <img src="{{ url_for('static', filename='assets/img/circuloSinfondo.png') }}" alt="">
              <h3>Tamales Listos para Cocinar</h3>
              <p>Preparados con ingredientes frescos y listos para ser disfrutados en cualquier momento.</p>
          </div>
          <div class="coffee-1">
              <img src="{{ url_for('static', filename='assets/img/ingrediredon.png') }}" alt="">
              <h3>Ingredientes de Calidad</h3>
              <p>Cada tamal es elaborado con los mejores ingredientes para garantizar un sabor inigualable.</p>
          </div>
      </div>
  </div>
</section>