<!-- public/templates/includesIn/sections/general.html -->
<section class="general" data-aos="fade-right">
  <div class="general-1" data-aos="fade-right">
      <h2>Sabor Auténtico en Cada Bocado</h2>
      <p>Nuestros tamales boyacenses están preparados con ingredientes frescos y seleccionados, manteniendo la receta tradicional que ha pasado de
         generación en generación. Cada tamal es una experiencia única que te transportará al calor del hogar.</p>
  </div>
  <div class="general-2"></div>
</section>

<section class="general">
  <div class="general-3" data-aos="fade-right"></div>
  <div class="general-1">
      <h2>Siempre Calientes y Listos para Ti</h2>
      <p>Disfruta de tamales recién preparados en cualquier momento del día. Ya sea para un desayuno especial o una comida reconfortante, 
         nuestros tamales siempre están listos para brindarte el mejor sabor, textura y aroma. ¡Déjate conquistar por su tradición y calidez!</p>
  </div>
</section>