<main class="services" id="services_group">
    <div class="services-content container">
      <h2 class="sub-title">Servicios Tamalería</h2>
      <div class="services-group">
        <div class="services-1">
          <img src="/static/assets/img/icon.png" alt="Pedidos personalizados">
          <h3>Pedidos Personalizados</h3>
        </div>
  
        <div class="services-1">
          <img src="/static/assets/img/i2.png" alt="Eventos">
          <h3>Eventos y Celebraciones</h3>
        </div>
  
        <div class="services-1">
          <img src="/static/assets/img/i3.png" alt="Desayunos">
          <h3>Desayunos y Meriendas</h3>
        </div>
      </div>
  
      <p>En Tamales El Buen Sazón, ofrecemos tamales boyacenses preparados con tradición y amor. Disfruta de pedidos personalizados
         para cualquier ocasión, lleva el auténtico sabor a tus celebraciones y complementa tus 
         mañanas con un desayuno lleno de tradición. ¡Déjanos ser parte de tus mejores momentos con el
         inconfundible sabor de nuestros tamales!</p>
    </div>
  </main>